<?xml version="1.0" encoding="utf-8" ?>
<!-- Common NLog config for all applications in project -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      internalLogLevel="Debug"
      internalLogToConsole="false">

  <targets>
    <target name="logconsole" xsi:type="ColoredConsole" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
  </rules>
</nlog>
